Repository devosoft/Empirical, pull requests merged in 2020-06, with the labels that each got.

#293 Add tests from @theycallmeHeem
  source/geometry/Body2D.h
  tests/geometry/Body2D.cc
  tests/geometry/Circle2D.cc
Labels: Goal: Enhancement, Merge: Ready!!, Topic: Testing

#289 Implement WrapWith method on Widgets
  source/web/Div.h
  source/web/Element.h
  source/web/Table.h
  source/web/Widget.h
  tests/web/Makefile
  tests/web/test_widget.cc
  tests/web/test_widget.html
Labels: Goal: Enhancement, Merge: Ready!!, Topic: Web Interface

#277 New version of BitVector SetUInt does not match legacy behavior
  source/tools/BitSet.h
  source/tools/BitVector.h
  tests/tools/BitVector.cc
Labels: Goal: Bug Fix, Merge: Ready!!, Topic: Core Tools

#305 Add KeyboardEvent overload for Widget.On()
  source/web/Widget.h
Labels: Goal: Enhancement, Merge: Ready!!, Topic: Emscripten Tools, Topic: Web Interface

#300 Handle key case better in KeypressManager
  source/base/errors.h
  source/web/KeypressManager.h
Labels: Goal: Enhancement, Merge: Ready!!, Topic: Web Interface

#236 Debug Graph Explorer
  examples/web/Graph.cc
  examples/web/Graph.html
  source/web/Table.h
Labels: Goal: Bug Fix, Merge: Ready!!, Topic: Web Interface

#231 Test ProjectTemplate
  .travis.yml
  Makefile
  examples/Makefile
  examples/ProjectTemplate/Makefile
  examples/ProjectTemplate/NOTES
  examples/ProjectTemplate/source/native/project_name.cc
  examples/ProjectTemplate/source/web/project_name-web.cc
  third-party/install_pip_deps.sh
  third-party/requirements.txt
Labels: Merge: Ready!!, Topic: Testing

#312 Impemented an LRU Cache
  source/tools/Cache.h
  source/tools/MatchBin.h
  source/tools/QueueCache.h
  tests/tools/Makefile
  tests/tools/QueueCache.cc
Labels: Goal: Enhancement, Merge: Not Ready
